<!DOCTYPE html>
<%- include('./partials/head') %>
    <body>
        <%- include('./partials/navbarAuth') %>
        <div class="container">

            <h1>Rooms</h1>
    
            <div class="container"> 
                <% for(let i = 0; i < roomList.length; i++) { %>
                    <button class="button" id="button" value="<%= roomList[i].roomID %>"><%= roomList[i].Game.split("_").join(" ")%> made by User: <%= roomList[i].username%></button>
                <% } %>
            </div>
        </div>
        

        
        <script>
            var buttons = document.getElementsByTagName('button');
            for(var i=0, len = buttons.length; i < len; i++){
                buttons[i].onclick= function (){
                    clickFunction (this);
                }
            }

            function clickFunction(elmnt) {
                var room = elmnt.value;
                location.href = "/room/"+room;
            };            
        </script>
    </body>
</html>