<!DOCTYPE html>
<%- include('./partials/head') %>
    <body>
        <%- include('./partials/navbarAuth') %>
        <div class="container">
            <% var text = "";
            switch (type) {
                case 'other':
                    text = "List of all rooms THEY are involved with";
                    break;
                case 'mine':
                    text = "List of all rooms YOU are involved with";
                    break;
                case 'general':
                    text = "List of public rooms for this game";
                    break;
                default:
                    text = "ERROR";
                    break;
            }
            %>
            <h1>Rooms</h1>
    
            <div class="container"> 
                <ul class="flex-outer">
                <% for(let i = 0; i < roomList.length; i++) { %>
                    <li><button class="button" id="button" value="<%= roomList[i].roomID %>"><%= roomList[i].Game.split("_").join(" ")%> made by User: <%= roomList[i].username%></button></li>
                <% } %>
                </ul>
            </div>
        </div>
        

        
        <script>
            var buttons = document.getElementsByTagName('button');
            for(var i=0, len = buttons.length; i < len; i++){
                buttons[i].onclick= function (){
                    clickFunction (this);
                }
            }

            function clickFunction(elmnt) {
                var room = elmnt.value;
                location.href = "/room/"+room;
            };            
        </script>
    </body>
</html>